<!doctype html>
<html lang="en">
<p>

<strong>Upload A Picture</strong>



</p><br>
<label>Name:
        <input [(ngModel)]="pictName" placeholder="Name Required"/>
</label><br>
<label>Comments:
    <input type="text" id="comments">
</label><br>

<label>Tags (please seperate with commas):
    <input type="text" id="tags">
</label><br>
<label>Collections to add to (please seperate with commas):
        <input type="text" id="collectionsToJoin">
    </label><br>
<form action="/uploadpicture" method="POST" enctype="multipart/form-data">
<input type="file" id = "input "name="picture" accept="image/*" (change)= "selectFile($event)">
</form><br><br>



<button (click)="uploadFile()">Send Image</button>


</html>
