<p>
  Get Pictures or Collections by Tag
</p>
<div *ngIf="tag!=null; else searchBlock">
  Search Term: {{tag}}
  <div *ngIf="findPictures" class="frame">
    Pictures
    <div *ngFor="let picture of pictures" class="frame">
      <app-image [id]="picture._id"></app-image>
    </div>
  </div>
  <div *ngIf="findCollections" class="frame">
    Collections
    <div *ngFor="let collection of collections" class="frame">
      <app-collection [id]="collection._id"></app-collection>
    </div>
  </div>
  <br>
  <button (click)="clear()">New Search</button>
</div>

<ng-template #searchBlock>
  <input type="text" id="searchInput">
  <br>
  <label>
  <input type="checkbox" [(ngModel)]="findPictures" placeholder="false"> Pictures<br>
  <input type="checkbox" [(ngModel)]="findCollections" placeholder="true"> Collection<br>
  </label>
  <button (click)="doSearch()">Search for tag</button>
</ng-template>