<!doctype html>
<html lang="en">
<p>

  <strong>Create A Collection </strong>



</p><br>
<label>Name:
    <input [(ngModel)]="collName" placeholder="Name Required"/>
</label>
<br>
<label>Comments:
    <input type="text" id="comments">
</label>
<br>
<label>Tags (please seperate with commas):
    <input type="text" id="tags">
</label>
<br>
<label>Pictures (provide IDs from URLs, seperate with commas):
    <input type="text" id="pictures">
</label>
<br>

<button (click)="makeCollection()">Make Collection</button>
