<div class="title">
  {{collection.name}}
</div>

<br>
<ng-container *ngIf="managing">
    <label>Title: 
        <input [(ngModel)]="newName" placeholder={{collection.name}}/>      
      </label>
      
      <button (click)="Rename()">Rename</button>
    
    </ng-container>


<ng-container *ngIf="managing; else commentBlock">

    <label>New Commentary: 
        <input [(ngModel)]="newComment" placeholder={{collection.comment}}/>
      
      </label>
      
      <button (click)="reComment()">Change Comment</button>
    <br>
</ng-container>
    <ng-template #commentBlock>
      Commentary: {{collection.comment}}
    </ng-template>  
<br>
Tags:  
<ng-container *ngFor = "let tag of collection.tags">
  {{ tag }},
</ng-container>

<div *ngIf="details">
  
    
    
  <br>

  <ng-container *ngIf="managing; else notmanage">

      <label>New Tags: 
          <input [(ngModel)]="newTags" placeholder=""/>
        
        </label>
        
        <button (click)="AddTags()">Add Tags</button>
        <br>

        <label>Remove Tags: 
          <input [(ngModel)]="killTags" placeholder=""/>
        
        </label>
        <button (click)="KillTagsParse()">Delete These Tags</button>
        <br>

        <label>Add Pictures: 
            <input [(ngModel)]="newPics" placeholder=""/>
          
          </label>
          
          <button (click)="AddPictures()">Add Pictures</button>
          <br>
  
          <label>Remove Pictures: 
            <input [(ngModel)]="killPics" placeholder=""/>
          
          </label>
          <button (click)="KillPictures()">Remove These Pictures</button>
          <br>

        <button (click)="manage(false)">Stop Managing Collection</button>
        <br>
        <strong>Pictures</strong>
        <div *ngFor = "let picture of collection.pictures" class="frame">
            <app-image [picture]="picture" [details]=false></app-image>
          </div>
        <br>
        <br>
        <br>
       
        <button (click)="deleteCollection()">Delete Collection</button>
    </ng-container>

  <ng-template #notmanage>
      <strong>Pictures</strong>
      <div *ngFor = "let picture of pictureArr" class="frame">
          <app-image [picture]="picture" [details]=false ></app-image>
        </div>
  <button (click)="manage(true)">Manage Collection</button>


  
  </ng-template>  

  
</div>







<div *ngIf=notLocal()>
    <button (click)="goToCollection()">Go To Collection</button>
</div>

