.frame {
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 01px;
    margin-left: 10px;
}

.title {
    padding: 2px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px
  }
input {
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    color: rgba(35, 25, 55, 0.5);
    box-shadow: rgba(30, 25, 55, 0.5) 0 0px;
    width: 275px;
}
label, p, form, button {
padding: 16px 32px;
text-align: center;
display: inline-block;
font-size: 18px;
color: rgba(35, 25, 55, 0.5);
box-shadow: rgba(30, 25, 55, 0.5) 0 0px;
width: 275px;
}
label:hover {
padding: 16px 32px;
text-align: center;
display: inline-block;
font-size: 18px;
color: green;
box-shadow: rgba(30, 25, 55, 0.5) 0 0px;
width: 275px;
}
button:hover {
padding: 16px 32px;
text-align: center;
display: inline-block;
font-size: 18px;
color: green;
box-shadow: rgba(30, 25, 55, 0.5) 0 0px;
width: 275px;
}
tab {
  display: inline-block;
  margin-left: 40px;
}
