<ng-container *ngIf="details && img==null; else loaded">
  Loading... {{picture.name}}
</ng-container>

<ng-template #loaded>
<p div *ngIf="details">
  <strong>Image!</strong>
</p>
<br>
<ng-container *ngIf="managing; else nameBlock">

    <label>Name:
        <input [(ngModel)]="newName" placeholder={{picture.name}}/>

      </label>

      <button (click)="Rename()">Rename</button>
    <br>
    </ng-container>
    <ng-template #nameBlock>
        Title: {{picture.name}}
        </ng-template>
<br>

<ng-container *ngIf="managing; else commentBlock">

    <label>New Commentary:
        <input [(ngModel)]="newComment" placeholder={{picture.comment}}/>

      </label>

      <button (click)="reComment()">Change Comment</button>
    <br>
    </ng-container>
    <ng-template #commentBlock>
        Commentary: {{picture.comment}}
        </ng-template>
<br>
<ng-container *ngFor = "let tag of picture.tags">
    {{ tag }},
  </ng-container>
<div *ngIf="details">

    <img src = {{img}} height="400" width="400">

    <br>
  Tags:
  <br>


  <br>
  <ng-container *ngIf="managing; else notmanage">

      <label>New Tags:
          <input [(ngModel)]="newTags" placeholder=""/>

        </label>

        <button (click)="AddTags()">Add Tags</button>
        <br>
        <label>Remove Tags:
          <input [(ngModel)]="killTags" placeholder=""/>

        </label>

        <button (click)="KillTagsParse()">Kill These Tags</button>
        <br>
        <button (click)="manage(false)">Stop Managing Image</button>
        <br>
        <label>Add to a collection
          <input [(ngModel)]="newCollName" placeholder=""/>

        </label>

        <button (click)="addToCollection()">Add Tags</button>
        <br>
        <br>
        <br>
        <br>

        <button (click)="deleteImage()">Delete Image</button>
    </ng-container>

  <ng-template #notmanage>
  <button (click)="manage(true)">Manage Image</button>



  </ng-template>
</div>
</ng-template>

<div *ngIf=notLocal()>
    <button (click)="goToImage()">Go To Image</button>
</div>
